$peace: #fff;
$light-peace: #ddd;
$light-shade:#393939;
$light: #ffffff4e;
$dark-grey: #3d3d3d;
$cream: #fff5ff;
$light-dark: #0b0b0b;
$light-navy: #22277c;
$dark-blue: #0012d8;
$light-sky: #4facfe;
$iron-blue: #048894;
$success: rgb(4, 197, 20);
$danger: rgb(255, 0, 0);
$bigDanger: rgb(204, 0, 0);
$warning: rgb(255, 255, 0);
$info: rgb(0, 255, 255);
$dark: rgb(0, 0, 0);
$light-grey: rgb(245, 245, 220);
$dark-shadow: rgba(0, 0, 0, 0.3);
$grad-blue: linear-gradient(rgb(0 96 94) 0%, rgb(193 0 0) 100%);

// transition
$trans: 0.3s ease;

// screen
$mobile: 320px;
$tablet: 768px;
$LaptopS: 1024px;
$LaptopL: 1440px;
